

{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Inside this we use the {{template "title" .}} and {{template "main" .}} actions 
     to denote that we want to invoke other named templates (called title and main)
      at a particular location in the HTML. -->
    <title>{{template "title" .}} - Snippetbox</title>
    <!-- Link to the CSS stylesheet and favicon -->
      <link rel='stylesheet' href='/static/css/main.css'>
      <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
      <!-- Also link to some fonts hosted by Google -->
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
  <body>
    <!--Note: If you’re wondering, 
    the dot at the end of the {{template "title" .}} and {{template "main" .}} action 
    represents any dynamic data that you want to pass to the invoked template.
     -->
    <header>
      <h1><a href="/">Snippetbox</a></h1>
    </header>

    <!--Invoke the template nav -->
    {{template "nav" .}}

    <main>{{template "main" .}}</main>
    <footer>Powered by <a href="https://golang.org/">Go</a></footer>
  </body>
</html>
{{end}}
